<h1>WELCOME</h1>
<body data-spy="scroll" data-target="#navbar-nav-pills">

<div id="navbar-nav-pills">
  <nav>
      <ul class="nav" role="tablist">

        <li role="presentation"><a href="students">STUDENTS</a></li>
        <li role="presentation"><a href="houses">HOUSES</a></li>
        <li role="presentation"><a href="crest">CREST</a></li>
      </ul>

  </nav>

</div>
<div>
    <%=image_tag("hogwarts/HogwartsCastle.jpg", alt:"castle")%>
<br>
    <%=image_tag("hogwarts/HogwartsCrest.png", alt: "Hogwarts Crest")%>
 <br>
    <%=image_tag("hogwarts/HogwartsHouses.png", alt: "Hogwarts Houses")%>
  <br>
    <%=image_tag("hogwarts/HPCharacterSprite.jpg", alt: "Hogwarts Sprite")%>
</div>
</body>